<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | ILM</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu</head>family=Noto+Sans+Devanagari</head>family=Noto+Sans+Gurmukhi</head>display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <h1><a href="/">ILM / علم</a></h1>
    <p>{{ site.description }}</p>
    <hr/>
  </header>
  <main>{{ content }}</main>
  <footer><hr/><small>© ILM · CC-BY-SA · <a href="https://github.com/project-ilm">GitHub</a></small></footer>
</body>
</html>
